<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="goalInput" @keyup.enter="addGoal" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <ul v-else>
        <li v-for="(goal,index) in goals" :key="goal" @click="removeGoal(index)">
          <p>{{index+1}} - {{goal}}</p>
          <input type="text" @click.stop />
        </li>
      </ul>
      <p style="color:red;" v-show="goals.length === 0">v-show : It is simply display none.</p>
      <p>Object loop</p>
      <ul>
        <li v-for="(value,key,index) in {name:'Selami',lastname:'Öztürk'}">{{index+1}}-{{key}}:{{value}}</li>
      </ul>
      <p>Number loop</p>
      <ul>
        <li v-for="num in 5">{{num}}</li>
      </ul>
    </section>
  </body>
</html>
